{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} MusicApp | {{ title }} {% endblock title %}
{% block body %}

<div class="container">
    <h1>Songs List</h1>
   

    {% for language, songs in songs_by_language.items %}
    <div class="language-section">
        <h4>{{ language }} Songs</h4>
        <div class="scroll-container">
            <button class="scroll-left" onclick="scrollLeftside('{{ language }}')">&#8249;</button>
            <div class="scroll-content" id="scroll-content-{{ language }}">
                <ul class="song-list">
                    {% for song in songs %}
                    <li>
                        <div class="song-item" onclick="playSong(this, '{{path}}/{{song.song_file}}')">
                            <img src="{{path}}/{{song.song_thumbnail}}" alt="Song Thumbnail">
                            <div class="play-button"></div>
                        </div>
                        <div class="song-details">
                            <div class="song-title">{{ song.name }}</div>
                            <div class="song-artist">{{ song.album }}</div>
                            <div class="song-artist">{{ song.singer }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <button class="scroll-right" onclick="scrollRight('{{ language }}')">&#8250;</button>
        </div>
    </div>
    
    {% endfor %}
        
     <audio id="audioPlayer" controls style="display:none;"></audio>
</div>

<script>
    
    
    function playSong(button, file) {
        var audioPlayer = document.getElementById('audioPlayer');
        audioPlayer.src = file;
        audioPlayer.style.display = 'block'; // Show controls when playing
        var playButton = button.querySelector('.play-button');

        if (audioPlayer.paused) {
            audioPlayer.play();
            playButton.classList.add('pause');
        } else {
            audioPlayer.pause();
            playButton.classList.remove('pause');
        }
    }


    function scrollLeftside(language) {
        const scrollContent = document.getElementById(`scroll-content-${language}`);
        scrollContent.scrollBy({
            left: -150, // Adjust scroll distance
            behavior: 'smooth'
        });
    }
    
    function scrollRight(language) {
        const scrollContent = document.getElementById(`scroll-content-${language}`);
        scrollContent.scrollBy({
            left: 150, // Adjust scroll distance
            behavior: 'smooth'
        });
    }   
</script>

{% endblock body %}